Resources:
    LambdasDefaultRole:
      Type: AWS::IAM::Role
      Properties:
        RoleName: ${self:provider.stage}-transfers-role
        AssumeRolePolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Principal:
                Service:
                  - lambda.amazonaws.com
              Action: sts:AssumeRole
        Policies:
          - PolicyName: ${self:provider.stage}-transfer-policy
            PolicyDocument:
              Version: "2012-10-17"
              Statement:
                - Effect: Allow
                  Action:
                    - logs:CreateLogGroup
                    - logs:CreateLogStream
                    - logs:PutLogEvents
                    - logs:TagResource
                  Resource:
                    - "Fn::Join":
                        - ":"
                        - - "arn:aws:logs"
                          - Ref: "AWS::Region"
                          - Ref: "AWS::AccountId"
                          - "log-group:/aws/lambda/*:*:*"
                - Effect: "Allow"
                  Action:
                    - "s3:GetObject"
                    - "s3:ListBucket"
                  Resource:
                    - 
                      Fn::Join:
                        - ""
                        - - "arn:aws:s3:::"
                          - ${self:provider.stage}-transfers-bucket-${env:POSTFIX_RANDOM}
                    - 
                      Fn::Join:
                        - ""
                        - - "arn:aws:s3:::"
                          - ${self:provider.stage}-transfers-bucket-${env:POSTFIX_RANDOM}
                          - "/*"
                - Effect: "Allow"
                  Action:
                    - "dynamodb:PutItem"
                    - "dynamodb:GetItem"
                    - "dynamodb:Scan"
                    - "dynamodb:Query"
                  Resource:
                    - 
                      Fn::Join:
                        - ""
                        - - "arn:aws:dynamodb:"
                          - Ref: "AWS::Region"
                          - ":"
                          - Ref: "AWS::AccountId"
                          - ":table/${self:provider.stage}-transfers"